<div class="ui container">
  <form class="ui form" action="/login" method="POST">
    <div class="field">
      <label>User</label>
      <input type="text" name="username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password">
    </div>
    <div class="field">
      <button class="ui big blue button">Submit</button>
    </div>
  </form>
</div>