<!-- Main MENU Start -->
<div class="ui fixed inverted stackable menu">
  <div class="ui container">
    <a href="/" class="header item">
      <i class="code icon"></i>
      REACTJS Explained
    </a>
    <div class="right menu">
      <a href="#" class="ui item">PORTFOLIO</a>
      <a href="#" class="ui item">ABOUT ME</a>
      <a href="#" class="ui item">CONTACT</a>
      <div class="item">
      <form class="ui inverted transparent icon input" method="GET" action="/search">
        <input type="text" placeholder="Search..." name="searchQuerry">
        <i class="search icon"></i>
      </form>
      </div>
    </div>
  </div>
</div>
<!-- Main MENU End -->