<h1 class='post-title'><%= post.title %></h1>
<h3 class='min-read'><%= Math.floor(post.content.split(/[ ,.!\\?]+/).length / 200) %> min read</h3>
<div class="date">
  <%=
    formatDate(post.timestamp);
  %>
</div>
<div class="post">
  <%- post.content %>
</div>

<div class="ui section divider"></div>

<div class="ui segment items" style="border-radius:0px;">
  <div class='item'>
    <div class="image">
      <img src="/img/bio-photo.jpg">
    </div>
    <div class="middle aligned content">
      <div class="header">
        Trung Tran
      </div>
      <div class="meta">
        Author
      </div>
      <div class="description">
        <p></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend sem eu tincidunt mattis.</p>
      </div>
    </div>
  </div>
</div>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = `https://reactjsx.org/posts/${window.location.href}`;
this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://reactjsx.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
