
<div class="ui segment items">
  <div class='item'>
    <div class='content post'>
      <div class='header'>
        <%= post.title %></h1>
      </div>
      <div class='meta'>
        <span class="date">
          <%=
            formatDate(post.timestamp);
          %>
        </span>
      </div>
      <div class='description'>
        <%- post.content %>
      </div>
    </div>
  </div>
</div>

<div class="ui section divider"></div>

<div class="ui segment items" style="border-radius:0px;">
  <div class='item'>
    <div class="image">
      <img src="/img/bio-photo.jpg">
    </div>
    <div class="content">
      <div class="header">
        Trung Tran
      </div>
      <div class="meta">
        Author
      </div>
      <div class="description">
        <p></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend sem eu tincidunt mattis. Curabitur sed risus id leo rhoncus tincidunt. Vestibulum nunc turpis, mattis sed pellentesque id, auctor quis elit. Nunc mollis augue eget sodales facilisis. In at maximus neque. Sed vehicula turpis ante, sed rutrum quam vulputate nec. Praesent ullamcorper scelerisque erat et molestie. Donec cursus venenatis orci id scelerisque.</p>
      </div>
    </div>
  </div>
</div>