<div class="ui fluid card">
  <div class="image">
    <img src="/img/bio-photo.jpg">
  </div>
  <div class="content">
    <a class="center aligned header" style="font-size:1.5em;color: steelblue">Trung Tran</a>
    <div class="meta">
      <div class="center aligned description">
        Deep Learning Fellow
      </div>
    </div>
  </div>
  <div class="extra content">
    <p class="center aligned header">Follow Me</p>
    <div class="center aligned" style="font-size:2em;">
      <a class="social"><i class="github icon"></i></a>
      <a class="social"><i class="twitter icon"></i></a>
      <a class="social"><i class="google icon"></i></a>
      <a class="social"><i class="linkedin icon"></i></a>
    </div>
  </div>
</div>
<div class="ui section divider"></div>
<div class="category ui vertical large list">
  <h1 class="ui center aligned header">Category</h1>
  <a class="item" href="#">Javascript</a>
  <a class="item" href="#">Python</a>
  <a class="item" href="#">Web Design</a>
  <a class="item" href="#">Database</a>
  <a class="item" href="#">Something Else</a>
</div>
<div class="ui section divider"></div>
<div class="tag-list ui horizontal large list">
  <h1 class="ui center aligned header">Tags</h1>
  <% tags.forEach(tag => ( %>
    <a class='item' href='#'>tag</a>
  <% )) %>
  <a class="item" href="#">ReactJS</a>
  <a class="item" href="#">JSX</a>
  <a class="item" href="#">HTML</a>
  <a class="item" href="#">semantic</a>
</div>
