<% include partials/header %>

<% include partials/navbar %>

<% include partials/carousel %>

<!-- Main content Start -->
<div class="container main-page">
  <div class="row">
    <div class="col-sm-8">
      
    </div>
    <div class="col-sm-4">
      <% include partials/sidebar %>
    </div>
  </div>
</div>
<!-- Main content End -->

<% include partials/footer %>