<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robot" content="noindex,nofollow">
  <title>Tech Explained</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Stylesheets Start -->
  <link rel="stylesheet" type="text/css" href="/semantic/semantic.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/prism.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <!-- Stylesheets End -->

  <!-- Javascript Start -->

  <script type="text/javascript" src="/javascript/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/semantic/semantic.min.js"></script>
  <!-- Javascript End -->

</head>

<% include partials/navbar %>

<!-- Main content Start -->
<!--<div class="main">-->
  <div class="ui main text container">
    <!--<div class="ui stackable grid">-->
    <!--  <div class="eleven wide column">-->
        <% include partials/new_form %>
      <!--</div>-->
      
      <!--<div class="five wide column">-->
      <!--  <% include partials/sidebar %>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
<!-- Main content End -->

<% include partials/footer %>