<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robot" content="noindex,nofollow">
  <title>Tech Explained</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Stylesheets Start -->
  <link rel="stylesheet" type="text/css" href="/dist/semantic.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/prism.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
  <!-- Stylesheets End -->

  <!-- Javascript Start -->

  <script type="text/javascript" src="/javascript/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/dist/semantic.min.js"></script>
  <!-- Javascript End -->

</head>
<body class="main-body">
<% include partials/navbar %>

<!-- Main content Start -->
<!--<div class="main">-->
  <div class="ui main text container">
    <% include partials/new_form %>
  </div>
</div>
<!-- Main content End -->

<% include partials/footer %>