<% include partials/header %>

<% include partials/navbar %>

<!-- Main content Start -->
<div class="main">
  <div class="ui text container">
    <% include partials/post %>
  </div>
</div>
<!-- Main content End -->

<% include partials/footer %>