<% include partials/header %>

<% include partials/navbar %>

<!-- Main content Start -->
<div class="main">
  <div class="ui container">
    <!--<div class="ui stackable grid">-->
      <!--<div class="eleven wide column">-->
        <% include partials/post %>
      <!--</div>-->
      
      <!--<div class="five wide column">-->
      <!--  <% include partials/sidebar %>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
<!-- Main content End -->

<% include partials/footer %>